.main{
    padding: 40px 0;
}
.main input,
.main input::-webkit-input-placeholder {
   font-size: 11px;
   padding-top: 3px;
}
.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 60vw;
   padding: 10px 40px;
   background:#666;
       color: #FFF;
}
.input-group{
    width: 20vw;
    margin-bottom: 5vh;
}
.remarque{
    width: 100%;
    height: 15vh;
}
@media (max-width:480px){
    .main-center{
        max-width: 100vw;
    }
    .input-group{
        width: 100%;
        margin-bottom: 2vh;
    }
  }
  @media (max-width:576px){
    .main-center{
        max-width: 100vw;
    }
    .input-group{
        width: 80%;
        margin-bottom: 2vh;
    }
  }
  @media (max-width:768px){
    .main-center{
        max-width: 100vw;
    }
    .input-group{
        width: 100%;
        margin-bottom: 2vh;
    }
  }
