.main{
    padding: 40px 0;
}
.main input,
.main input::-webkit-input-placeholder {
   font-size: 11px;
   padding-top: 3px;
}
.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 60vw;
   padding: 10px 40px;
   background:#666;
       color: #FFF;
}
.input-group{
    width: 20vw;
    margin-bottom: 5vh;
}
.remarque{
    width: 100%;
    height: 15vh;
}
